/* Import Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  font-family: "Work Sans", sans-serif;
  color: #0f0f0f;
  background-color: #ffffff;
  scroll-behavior: smooth !important;
}

@media screen and (min-width: 768px) {
  p, a {
    font-size: calc(.8928571429vw + 7.1428571429px);
    /* font-size: min(1.2rem, calc(.8928571429vw + 7.1428571429px)); */
  }
}

@media only screen and (max-width: 767px) {
  p, a {
    font-size: 14px;
    line-height: 24px;
  }
}


/* Preloader */

.char {
  opacity: 0;
}

/* ----=- */

.desk_navlinks::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(59 130 246);
  transition: width 0.3s;
}

.desk_navlinks:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.desk_navlinks:hover {
  color: #000;
}

::selection {
  background: #21263f;
  color: #fefdef;
}

.btn-primary span {
  display: flex;
  justify-content: center;
  align-review-items: center;
  font-size: 0.8rem;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 30px;
  height: 100%;
  background: #00C9FF;
  transition: right 0.3s ease-in-out;
}

.btn-primary:hover span {
  right: -30px;
  transition: right 0.3s ease-in-out;
}

.mobile_presta_wrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mobile_presta_wrap::-webkit-scrollbar {
  display: none;
}

.desktop_article::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 10px;
  height: 10px;
  background: rgb(59 130 246);
  transition: width 0.5s ease-in-out;
}

.desktop_article:hover::after {
  width: 100%;
}

/* .review-wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  z-index: -1;
} */

.review-wrapper {
  position: relative;
  width: 100%;
  height: 50%;
  /* z-index: -1; */
  /* background-color: red; */

  display: flex;
  gap: 6%;
}

section {
  height: 100dvh;
}

@media screen and (max-width: 1450px) {
  .review-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  #review {
    height: auto;
  }
  .review-wrapper > .rounded-3xl {
    padding: 20px;
    max-height: 300px
  }

}

.review-item:nth-child(5) {
  left: 0;
  top: 0;
}

.review-item:nth-child(4) {
  left: 20px;
  top: -20px;
}

.review-item:nth-child(3) {
  left: 40px;
  top: -40px;
}

.review-item:nth-child(2) {
  left: 60px;
  top: -60px;
}

.review-item:nth-child(1) {
  left: 80px;
  top: -80px;
}

@media screen and (max-width: 767px) {

  .review-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .review-item p {
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .review-item:nth-child(1), .review-item:nth-child(2), .review-item:nth-child(3), .review-item:nth-child(4), .review-item:nth-child(5) {
    left: 0;
    top: 0;
  }
}

/* FOOTER */

.grid-footer {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.subgrid-footer {
  display: grid;
  grid-template-rows: 1fr .5fr;
}

.copyrightgrid-footer {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}

@media screen and (max-width: 767px) {
  .grid-footer {
    grid-template-columns: auto;
    margin-top: 20px;
  }
  .subgrid-footer {
    grid-template-rows: auto;
  }
  .copyrightgrid-footer {
    grid-template-columns: auto;
  }
}