/* Import Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  font-family: "Work Sans", sans-serif;
  color: #0f0f0f;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  p {
    font-size: calc(.8928571429vw + 7.1428571429px);
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
}

.desk_navlinks::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}

.desk_navlinks:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.desk_navlinks:hover {
  color: #000;
}